/target/
/pdf/
/Pdf/
/src/main/resources/controller/primary.fxml
/src/main/resources/controller/primaryController.java
/src/main/resources/controller/secondary.fxml
/src/main/resources/controller/secondaryController.fxml
prueba